@import url("https://cdn.fontcdn.ir/Font/Persian/Nazanin/Nazanin.css");
@font-face {
  font-family: IranSans;
  src: url("../../fonts/IRANSansWeb.ttf") format("truetype"); }

body {
  font-family: IranSans; }

.rtl {
  direction: rtl; }

.b-light {
  background-color: #fbf9fa; }

.b-dark {
  background-color: #000000; }

.b-pink {
  background-color: #fd0054; }

.b-pink-dark {
  background-color: #a80038; }

.c-pink-dark {
  color: #a80038; }

.c-pink {
  color: #fd0054; }

.c-light {
  color: #fbf9fa; }

.c-pink-light {
  color: #ff0068; }

.c-dark {
  color: #000000; }

.eng-font {
  font-family: 'Lato', Arial, Helvetica, sans-serif; }

.primary-heading {
  background-image: linear-gradient(to right, #ff0068, #a80038);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.nav-con {
  border-bottom: #a80038 solid 1px; }

.nav-con,
.nav-con a:link,
.nav-con a:active,
.nav-con a:visited {
  color: #a80038; }

.dropdown-toggle:after {
  content: none; }

.dropdown-menu {
  width: 40vw !important; }

.dropdown-menu-center {
  right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

.card a:link {
  text-decoration: none; }

.card a {
  text-decoration: none; }

.card-header {
  font-family: 'Lato', Arial, Helvetica, sans-serif; }

.slick-slide {
  transform: scale(0.9);
  transition: all .5s; }

.slick-current {
  transform: scale(1.1);
  transition: all .5s; }

.btn-hover:hover {
  color: #fbf9fa;
  background-color: #fd0054; }

.carousel-section {
  background-image: linear-gradient(to right bottom, #ff0068, #a80038);
  clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
  height: 75vh; }

.last-domains-section {
  margin-top: -200px;
  padding-top: 200px;
  padding-bottom: 200px; }

.bg-card {
  background-image: linear-gradient(to right bottom, #ff0068, #a80038); }

.animation-left {
  animation-name: moveInLeft;
  animation-duration: 3s;
  animation-timing-function: ease-out; }

.animation-right {
  animation-name: moveInRight;
  animation-duration: 3s;
  animation-timing-function: ease-out; }

.updated-domains {
  transform: skewY(-5deg);
  margin-top: -100px; }
  .updated-domains > * {
    transform: skewY(5deg);
    padding-bottom: 40px;
    padding-top: 40px; }
