.card a:link {
  text-decoration: none;
}
.card a {
  text-decoration: none;
  // color: $color-block;
}
.card-header {
  font-family: 'Lato', Arial, Helvetica, sans-serif ;
  // color: $color-red;
}
