.primary-card {
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}
.primary-card a {
  color: $color-light;
}
.card a:link {
  text-decoration: none;
}
.card a {
  text-decoration: none;
  transition: transform .3s;
}

.card-feature:hover {
    transform: translateY(-15px) scale(1.03);
}
