@import url('https://cdn.fontcdn.ir/Font/Persian/Nazanin/Nazanin.css');

@font-face {
  font-family: IranSans;
  src: url("../../fonts/IRANSansWeb.ttf") format('truetype');
}

body {
  font-family: IranSans;
}
.social-media {
  margin-top: -100px;
  padding-top: 200px;
}
