html {
  @include respond(tab-land) { // width < 1200?
    font-size: 9px; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) { // width < 900?
    font-size: 8px; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 12px; //1rem = 12, 12/16
  }
}

@font-face {
  font-family: IranSans;
  src: url("../../fonts/IRANSansWeb.ttf") format('truetype');
}
@font-face {
  font-family: IranSansBold;
  src: url("../../fonts/IRANSansWeb_Bold.ttf") format('truetype');
}

body {
  font-family: IranSans;
}
.social-media {
  margin-top: -100px;
  padding-top: 200px;
}
